.done-button {
    background-color:#4caf50 ;
    color: #fff;

}

.delete-button {
    background-color:#ff1717 ;
    color: #fff;

}

.task-card{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow:0 2px 5px rgb(0,0,0,0.1);
    margin-bottom: 20px;

}

.task-button {
    margin-left: 10px;
    padding: 5px 10px;
    border:none ;
    border-radius:5px;
    cursor : pointer;
    transition : background-color 0.3s ease;
   

}

.task-button:hover{
    opacity: 0.8;
    background-color: #555;
}




